.size-pic-event{
    width: 200px;
    height: 200px;
}
.forLeft{
    border-radius: 90% 10% 90% 60%;
}
.forRight{
    border-radius: 10% 90% 60% 90%;
}
.forDown{
    border-radius: 30% 80% 5% 5%;
}
.light{
    background-color: #E1E3C6;
}
.dark{
    background-color: #293737;
}
.colorF{
    background-color: aqua;
}
.colorF2{
    background-color: darkgoldenrod;
}
.colorF3{
    background-color: #5C5E36;
}
.fondoOscuro{
    background-color: rgba(0, 0, 0, 0.3);
}
.fondoOscuro h2, label{
    color: white;
}