/* 
all this colors are just for proving the view in the page 
.prueba{
    background-color: #5C5E36;
}
.prueba2{
    background-color: darkkhaki;
}
.prueba3{
    background-color: teal;
} */
.dark{
    background-color: #293737;
}
.light{
    background-color: #E1E3C6;
}