.light{
    background-color: #E1E3C6;
}
.dark{
    background-color: #293737;
}
.fondo{
    background-color: #5C5E36;
}
.fondo2{
    background-color: chocolate;
}
.fondo3{
    background-color: darkviolet;
}
.picForCard{
    height: 35vh!important;
    width: 25vw!important;  
}
.picForCard2{
    height: 200px;
}
.shadowBorde:hover{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.fondoPosts{
    background-color: #E1E3C6;
}
.btnSign:hover{
    background-color: #ABA95C;
}
