@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@300&display=swap');
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  .project-name{
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
  }
  .text-navbar{
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
  }
  .move-right{
    display: flex!important;
    justify-content: flex-end;
  }
  .color1{
    background-color: yellow;
  }
  .color2{
    background-color: rgb(15, 97, 27);
  }
  .color3{
    background-color: rgb(117, 10, 48);
  }
  .color4{
    background-color: rgb(194, 179, 10);
  }
  .color5{
    background-color: rgb(194, 28, 10);
  }
  .fondoNavbar{
    background-color: #AB5C61;
  }
  .dark{
    background-color: #5F6A73;
  }
  .borderPic{
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nameUser{
    text-decoration: none;
    color: black;
  }