@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@300&display=swap');
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .bg-color{
    background-color: #E1E3C6;
    color: black;
  }
  .project-name{
    font-family: 'Libre Baskerville', serif;
  }
  .text-navbar{
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
  }
  .move-right{
    display: flex!important;
    justify-content: flex-end;
  }
  .iconoPage{
    color: white;
  }