*{
    margin: 0;
    padding: 0;
}
.secondaryContainerLogin{
    text-align: center;
}
.login-footer{
    margin-top: 30px;
}
.loginPage{
    margin-top: 40px;
}
.fondoLogin{
    background-color: #E1E3C6;
}
.loginColor{
    background-color: cyan;
}
.loginColor2{
    background-color: rgba(0, 0, 0, 0.3);
}
.loginColor3{
    background-color: deeppink;
}
.light{
    background-color: #E1E3C6;
}
.dark{
    background-color: #293737;
}
.borderLogin{
    background-color: #5C5E36;
}