/* 
all this colors are for editing views
.fondoColor{
    background-color: darkgoldenrod;
}
.fondoColor2{
    background-color: forestgreen;
}
.fondoColor3{
    background-color: mediumorchid;
}
.fondoColor4{
    background-color: gold;
} */
.light{
    background-color: #E1E3C6;
}
.dark{
    background-color: #293737;
}
.bordeEvent{
    background-color: #5C5E36;
}
.bordeEvent2{
    background-color: white;
}