.fondoColor{
    background-color: darkgoldenrod;
}
.fondoColor2{
    background-color: forestgreen;
}
.fondoColor3{
    background-color: mediumorchid;
}
.fondoColor4{
    background-color: gold;
}
.fondoEvents{
    background-color: #E1E3C6;
}
.bordeEvent{
    background-color: #ABA95C;
}
.bordeEvent2{
    background-color: white;
}