.buttonForm{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    margin-left: 10px;
    
}
.probando{
    background-color: blueviolet;

}
.probando2{
    
    padding-left: 10vw;
    padding-right: 0vw;
}
.probando3{
    background-color: brown;
}

.signUp-pic{
    width: 15rem;
    height: 15rem;
}
.borderPic{
    border-radius: 50% 0% 0% 50%;
}
.borderPic2{
    border-radius: 50% 50% 0% 0%;
}
.borderPic3{
    border-radius: 0% 0% 50% 50%;
}
.borderPic4{
    border-radius: 0% 50% 50% 0%;
}
.dateInput{
    width: 80%;
}
.borderShadow:hover{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.8);
}
