@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'IBM Plex Sans Devanagari', sans-serif;;
}

.buttonForm{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    margin-left: 10px;
    
}
.probando{
    background-color: #ABA95C;

}
.probando2{
    
    padding-left: 10vw;
    padding-right: 0vw;
}
.probando3{
    background-color: brown;
}
.probando4{
    background-color: aquamarine;
}

.signUp-pic{
    width: 17em;
    height: 17em;
}
.borderPic{
    border-radius: 50% 0% 0% 50%;
}
.borderPic2{
    border-radius: 50% 50% 0% 0%;
}
.borderPic3{
    border-radius: 0% 0% 50% 50%;
}
.borderPic4{
    border-radius: 0% 50% 50% 0%;
}
.dateInput{
    width: 80%;
}
.borderShadow:hover{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.fondoNewpost{
    background-color: #E1E3C6;
}
